@import url("https://fonts.googleapis.com/css2?family=Pirata+One&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-size: 16px;
  font-family: "Pirata One", system-ui;
}

.header {
  height: 15vh;
  background-image: url("images/logo.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.bg-section {
  height: 20vh;
  background-image: url("images/header-2.jpeg");
  background-repeat: repeat;
  background-position: center;
  background-size: unset;
}

.carousel__title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  gap: 30px;
}
.carousel__title > img {
  height: 50px;
  width: 50px;
}
.carousel__container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
.carousel__card-list {
  width: 800px;
  height: 800px;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}
.carousel__card {
  position: absolute;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
}
.carousel__card > img {
  width: 800px;
  height: 800px;
}

.carousel__button {
  height: 20px;
  width: 20px;
  background: none;
  border: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}
.carousel__button.--left {
  left: 15%;
}
.carousel__button.--right {
  right: 15%;
}

/* ========= Game ========== */
.card-front-back {
  position: relative;
  transform-style: preserve-3d;
  transition: transform 600ms cubic-bezier(0.42, 0, 0.54, 1.68);
  cursor: pointer;
}
.card-front-back img {
  width: 358px;
  height: 480px;
}
.card-front-back.--active {
  transform: rotateY(180deg);
}

.card-front-back > .card {
  position: absolute;
  backface-visibility: hidden;
}

.card-front-back > .card.--back {
  transform: rotateY(180deg);
}

.card-front-back > .card.--back .card-game {
  background-color: var(--color-fiery-rose);
}
/* ===== front ===== */
